.netflix-bg {
  background-color: #141414;
}
.netflix_logo {
  max-width: 8em;
}
.avatar,
.kids_icon {
  max-width: 3em;
}
.dropdown-item:hover {
  background-color: #333;
}
.nav-link {
  color: white;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.nav-link:hover {
  color: #5d5d5d;
}

input.form-control {
  background-color: #141414;
  color: #fff;
}

input.form-control:focus {
  background-color: #424242;
  color: #fff;
}

.carousel-inner {
  overflow: visible;
}

.movie-cover img {
  transition: transform 0.3s ease;
}

.movie-cover img:hover {
  transform: scale(1.3);
}
.carousel-control-prev,
.carousel-control-next {
  width: 2em;
}
footer a,
footer p {
  text-decoration: none;
  color: #424242;
  transition: color 0.3s ease;
}

footer p {
  font-size: 0.8em;
}

footer a:hover {
  color: #fff;
}
.userbutton {
  text-decoration: none;
  color: #5d5d5d;
  transition: background-color 0.3s ease;
}

.userbutton:hover {
  background: white;
  color: #141414;
  cursor: pointer;
}
